<link rel="stylesheet" href="~/css/succ.css" />
<div class="main_page col-12">
    <div class="main_content col-9">
        <a asp-controller="Home" asp-action="Index" class="upper_back">
            <i class="fa-solid fa-left-long i_back"></i>
            <p class="p_back">Home</p>
        </a>
        <div class="lower_content col-12">
            <i class="fa-regular fa-circle-check i_correct"></i>
            <p class="p_success">
                Your transaction has been completed successfully. We have emailed you details of
                your ticket
            </p>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        const upper_back = document.querySelector(".upper_back");
        const i_back = document.querySelector(".i_back");
        upper_back.addEventListener("mouseenter", function () {
            i_back.style.paddingLeft = '0%';
        });
        upper_back.addEventListener("mouseleave", function () {
            i_back.style.paddingLeft = '13%';
        });
    </script>
}
