@model Category
<link rel="stylesheet" href="~/css/createctg.css" />
<div class="main_page col-12">
    <div class="main_content col-10">
        <div class="upper_content col-12">
            <a asp-action="Index" class="a_home">
                <i class="fa-solid fa-arrow-left-long i_home"></i>
                <p href="#" class="p_home">Back</p>
            </a>
            <h4 class="h_upper col-12" style="padding-top:1rem;">Create Category</h4>
        </div>
        <form asp-action="Creation" class="col-8 pt-2">
            <div class="mb-3">
                <label style="font-size:0.8rem;margin:0;" asp-for="Name" style="margin:0;" class="form-label">Name</label>
                <input type="text" class="form-control" asp-for="Name">
                <span class="span_in" asp-validation-for="Name"></span>
            </div>
            <button type="submit" class="btn btn-primary">Create</button>
        </form>
    </div>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial.cshtml" />

    <script>
        const i_home = document.querySelector('.i_home');
        const a_home = document.querySelector('.a_home');

        a_home.addEventListener('mouseenter', function () {
            i_home.style.marginRight = '8px';
        });
        a_home.addEventListener('mouseleave', function () {
            i_home.style.marginRight = '0px';
        });
    </script>
}