@model EditpasswordVM
<link rel="stylesheet" href="~/css/myprofile.css">

<div class="container1">

    <div class="cover">

        <div class="inputs">

            <form asp-action="Password">
                <div class="U-input">
                    <label asp-for="OldPassword">OldPassword</label><br>
                    <input asp-for="OldPassword" type="text" />
                </div>

                <div class="U-input">
                    <label asp-for="NewPassword">NewPassword</label><br>
                    <input asp-for="NewPassword" type="text" />
                </div>
                <div class="U-input">
                    <label asp-for="ConfirmPassword">ConfirmPassword</label><br>
                    <input asp-for="ConfirmPassword" type="email" />
                </div>
                <div class="btns">
                    <button class="edit" type="submit">Edit</button>
                    <a href="/Customer/Profile/Index" class="changepass" type="button">Profile</a>


                </div>

            </form>

        </div>
    </div>
</div>

